@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(image/manos-gkikas-pPA5ActWLLI-unsplash.jpg);
  z-index: 2;
}
.showcase.active{
  right: 300px;
}

.showcase video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;

}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}
.text{
  position: relative;
  z-index: 10;
}
.text h2{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3{
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
  }
.text p{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
button{
  width: 140px;
  border: 0;
  padding: 10px 30px;
  text-decoration: none;
  outline: none;
  background:#fff;
  border-radius: 20px;
  cursor: pointer;
  transition: width 0.5s;
  margin-top: 20px;
}

button:hover{
  width: 160px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

button img{
  width: 20px;
  display: none;
}

button:hover img{
  display: block;
}

/*Social Section*/
.social{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li{
  list-style: none;
}
.social li a{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover{
  transform: scale(0.5) translateY(-15px);
}

/*Menu Section*/
.menu{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #09020A;
}
.menu ul{
  position: relative;
}
.menu ul li{
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
.menu ul li a:hover{
  color:#fff;
  text-decoration: underline;
}

@media (max-width: 991px){
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

/*Porfolio Section*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
::selection{
    color: #181818;
    background-color: #fffd6b;
}
#slider-container{
    width:100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide{
    width: 750px !important;
    margin: 50px;
}
.slider-img{
    width:250px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
}
.slider-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.slider-details{
    padding: 20px;
    background: linear-gradient(90deg, #292929 20%, #272727);
    width: 500px;
    border-radius: 0px 10px 10px 0px;
}
.slider-details strong{
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
}
.rating{
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.rating i{
    color: #ffdf00;
    margin: 0px 2px;
}
.slider-details p{
    color: #ffffff;
    font-size: 0.9rem;
    margin: 10px 0px 10px 0px;
}
.movie-cast{
    display: flex;
    align-items: center;
}
.movie-cast a{
    width:30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0px 4px;
}
.movie-cast a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.more-cast{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a8a8a8;
    color: #a8a8a8;
    font-size: 0.7rem;
    font-weight: 600;
    margin: 0px 4px;
}
.card-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card-btns a{
    min-width: 160px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 0.9rem;
}
.play-btn{
    background-color: #ffffff;
}
.play-btn i{
    margin-right: 10px;
}
.card-btns a:hover{
    background-color: #780002;
    transition: all ease 0.3s;
    color: #ffffff;
    border: none;
    opacity: 1;
}


@media(max-width:991px){
    .slider-box{
        flex-direction: column;
    }
    .slider-details{
        width:230px;
        height: auto;
    }
    .card-btns{
        flex-direction: column;
    }
    .slider-img{
        width: 230px;
        border-radius: 10px 10px 0px 0px;
    }
    .slider-details strong{
        font-size: 1rem;
    }
    .card-btns a{
        width: 100%;
        border-radius: 0px;
        margin: 5px 0px;
    }
    .swiper-slide{
        width:230px !important; 
    }
}